<template>
  <require from="./createorder.css"></require>

  <div class="form">
    <div class="row">
      <div class="column form-group">
        <div class="input-field">
          <i class="material-icons prefix">directions_car</i>
          <input id="carNameId" type="text" value.two-way="model.iCarName" class="validate">
          <label for="carNameId">Car Name</label>
        </div>
      </div>

      <div class="column">
        <div class="input-field form-group">
          <i class="material-icons prefix">border_top</i>
          <input id="carModelId" type="text" value.two-way="model.iCarName" class="validate">
          <label for="carModelId">Car Model</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="col m4 s12 mt-2 form-group">
          <label class="position-relative">
            <input type="checkbox" checked.bind="model.cIsInspection" class="au-target" tabindex="7" au-target-id="294">
            <span> Would you like to complete inspection? </span>
          </label>
        </div>
      </div>

      <div class="column form-group">
        <label>Select Maintenance Type:<br>
          <select value.bind="selectedMaintenanceTypeId" id="maintenanceId"
            change.delegate="selectedMaintenanceType(selectedMaintenanceTypeId)">
            <option repeat.for="item of model.ddMaintenanceTypeData" model.bind='item.id'>
              ${item.option}
            </option>
          </select>
        </label>
      </div>

      <div class="column form-group">
        <div class="input-field">
          <i class="material-icons prefix"></i>
          <input id="carColorId" type="text" value.two-way="model.iCarColor" class="validate">
          <label for="carColorId">Car Color</label>
        </div>
      </div>

    </div>
  </div>
</template>
