.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.right-align {
  text-align: right;
}

.container {
  width: 80%;
  height: 100vh;
}

@media screen and (min-width: 760){
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 480px){
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.input-color {
  width: 100%;
  margin: 15px auto;
  border: 0px none transparent
}

.input-control {
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;
  width: 50%
}

.mr-auto {
  margin: 0 15px
}
